<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up for voting</title>
</head>
<body>
</form>
<pre> To sign up you need to complete the form:</pre>
<form action="/signup" method="post" accept-charset="utf-8"
      enctype="application/x-www-form-urlencoded">

    <label for="login">Login</label>
    <input id="login" name="login" type="text" value="" autofocus/>
    <label for="password">Password</label>
    <input id="password" name="password" type="password" value=""/>

    <input id="sign up" name="sign up" type="submit" value="sign up"/>
</form>

</body>
</html>